<html>
		<wicket:panel  >
			<div class="projectActionPanelBtn"><a wicket:id="workingProject"><i class="icon-folder-open"></i></a></div>
			<div class="projectActionPanelBtn"><a wicket:id="changeToPublic"><i class="icon-eye-open"></i></a></div>
			<div class="projectActionPanelBtn"><a wicket:id="changeToPrivate"><i class="icon-eye-close"></i></a></div>
			<div class="projectActionPanelBtn"><a wicket:id="editProject"><i class="icon-edit"></i></a></div>
			<div class="clear"></div>
		</wicket:panel>				
</html>
