<html>
	<body>
		<wicket:panel>
			<div class="left">
				<a wicket:id="tasksLink" class="btn"><i class="icon-list"></i> <wicket:message key="tasks" /></a>
				<a wicket:id="mytasksLink" class="btn"><i class="icon-th-list"></i> <wicket:message key="mytasks" /></a>
				<a wicket:id="topTasks" class="btn"><i class="icon-th-large"></i> <wicket:message key="topTasks" /></a>
				<a wicket:id="createTask" class="btn"><i class="icon-asterisk"></i> <wicket:message key="createTask" /></a>
			</div>
			<div class="right">
				<a wicket:id="advancedSearch" class="btn"><i class="icon-search"></i> <wicket:message key="advancedSearch" /></a>
				<a wicket:id="projectDetail" class="btn"><i class="icon-info-sign"></i> <wicket:message key="projectDetail" /></a>
				<a wicket:id="versionList" class="btn"><i class="icon-tags"></i> <wicket:message key="versions" /></a>
				<a wicket:id="closeProject" class="btn"><i class="icon-folder-close"></i> <wicket:message key="closeProject" /></a>
			</div>
			<div class="clear"></div>
		</wicket:panel>
	</body>
</html>